{% for item in items if not item.viewBag.isHidden %}
    {% if item.items %}
        <li role="presentation"
            class="dropdown {{ item.isActive ? 'active' : '' }} {{ item.isChildActive ? 'child-active' : '' }} {{ item.viewBag.cssClass }}">
            {% if item.url %}
                <a class="dropdown-toggle {{ item.isActive or item.isChildActive ? 'active' : '' }}"
                   href="{{ item.url }}" {{ item.viewBag.isExternal ? 'target="_blank"' }} data-toggle="dropdown"
                   role="button" aria-haspopup="true"
                   aria-expanded="false">
                    {{ item.title }} <i class="fa fa-angle-down"></i>
                </a>
            {% else %}
                <a href="javascript:void(0)"
                   class="no-link  {{ item.isActive or item.isChildActive ? 'active' : '' }}"> {{ item.title }}  <i class="fa fa-angle-down"></i></a>
            {% endif %}

            {% if item.items %}
                <div class="dropdown-menu">
                    <ul class="list-unstyled">
                        {% partial "layout/nav" items=item.items %}
                    </ul>
                </div>
            {% endif %}
        </li>
    {% else %}
        <li role="presentation"
            class="{{ item.isActive ? 'active' : '' }} {{ item.isChildActive ? 'child-active' : '' }} {{ item.viewBag.cssClass }}">
            {% if item.url %}
                <a class="menu-text {{ item.isActive or item.isChildActive ? 'active' : '' }}"
                   href="{{ item.url }}" {{ item.viewBag.isExternal ? 'target="_blank"' }}>
                    {{ item.title }}
                </a>
            {% else %}
                <a href="javascript:void(0)"
                   class="menu-text no-link  {{ item.isActive or item.isChildActive ? 'active' : '' }}"> {{ item.title }}</a>
            {% endif %}

            {% if item.items %}
                <div class="dropdown-menu">
                    <ul class="list-unstyled">
                        {% partial "layout/nav" items=item.items %}
                    </ul>
                </div>
            {% endif %}
        </li>
    {% endif %}
{% endfor %}
