title = "Rent reservation"
url = "/rent-reservation"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[viewBag]
localeUrl[az] = "/rent-reservation"

[RentReservation]

[account]
redirect = 0
paramCode = "code"
forceSecure = 0
==
<!-- Reservation car modal -->
<main class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- form -->
                <form class="reservation-form clearfix">
                    <input type="hidden" name="car_id" value="{{ car.id }}">
                    <input type="hidden" name="seller_id" value="{{ car.user_id }}">
                    <input type="hidden" name="start_date" value="{{ startDate }}">
                    <input type="hidden" name="end_date" value="{{ endDate }}">
                    <input type="hidden" name="rent_method" value="{{ rent_method }}">

                    <input type="hidden" name="car_rent_price" value="{{ price/((this.theme.service_tax/100)+1) }}">
                    <input type="hidden" name="service_tax" value="{{ this.theme.service_tax}}">
                    <input type="hidden" name="total_amount_payable" value="{{ price }}">
                    <input type="hidden" name="day" value="{{ days }}">

                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="car-preview">
                                <h3>{{ car.brand.name }} {{ car.mdl.name }} {{ car.trim.name }}
                                    <span>{{ car.year.year }}</span></h3>
                                <img src="{{ car.image.path|resize(650, 350) }}" alt="car-preview-image"
                                     class="img-responsive">
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <h4 class="title">{{ 'rent-reservation--> Payment details'|_ }}</h4>

                            <ul class="list-unstyled result-dates">

                                <li class="clearfix">
                                    <span class="pull-left">{{ 'rent-reservation--> Rent Method'|_ }}:</span>
                                    <span class="pull-right">
                        <b id="startR">
                            {% if rent_method=="1" %}
                                {{ 'rent-reservation-->    Rent City'|_ }}
                            {% elseif rent_method=="2" %}
                                {{ 'rent-reservation-->  Rent City Driver'|_ }}
                            {% elseif rent_method=="3" %}
                                {{ 'rent-reservation-->    Rent Region'|_ }}
                            {% elseif rent_method=="4" %}
                                {{ 'rent-reservation-->   Rent Region Driver'|_ }}
                            {% endif %}</b>
                      </span>
                                </li>
                                <li class="clearfix">
                                    <span class="pull-left">{{ 'rent-reservation--> Dates'|_ }}:</span>
                                    <span class="pull-right">
                        <b id="startR">{{ startDate }}</b> {{ 'rent-reservation--> to'|_ }} <b id="endR">{{ endDate }}</b>
                      </span>
                                </li>

                                <li class="clearfix">
                                    <span class="pull-left">{{ 'rent-reservation--> Number of days'|_ }}:</span>
                                    <span class="pull-right">  <b id="daysN">{{ days }} {{ 'rent-reservation--> days'|_ }}</b></span>
                                </li>
                                <li class="clearfix">
                                    <span class="pull-left">{{ 'rent-reservation--> Price per day'|_ }}:</span>
                                    <span class="pull-right">

                        <b id="dayP">{{ ((price/days)/usd) | round }}  &dollar; / {{ (price/days) | round }} &#8380;</b>
                      </span>
                                </li>
                                <li class="clearfix">
                                    <span class="pull-left">{{ 'rent-reservation--> Total'|_ }}:</span>
                                    <span class="pull-right">


                        <b id="totDayP"> {{ (price/usd) |round}} &dollar; / {{ price }} &#8380;</b>
                      </span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-12 col-lg-12">
                            <hr class="separator">
                        </div>
                        {% if user %}


                            <div class="col-sm-12 col-lg-12">
                                <h4 class="title">{{ 'rent-reservation--> Contact information'|_ }}</h4>
                                <div class="form-group col-sm-6">
                                    <label>{{ 'rent-reservation--> Full name'|_ }}</label>
                                    <input type="text" class="form-control" name="name"
                                           value="{{ user.name }} ">
                                </div>

                                <div class="form-group col-sm-6 ">
                                    <label>{{ 'rent-reservation--> Phone number'|_ }}</label>
                                    <input type="tel" name="phone" class="form-control" value="{{ user.mobile }}"
                                           placeholder="phone">
                                </div>

                                <div class="form-group col-sm-12">
                                    <label>{{ 'rent-reservation--> Address'|_ }}</label>
                                    <textarea name="address" class="form-control"
                                              placeholder="{{ 'rent-reservation--> Please write address'|_ }}">{{ user.street_addr }}{{ user.city }}</textarea>

                                </div>
                            </div>
                        {% else %}

                            <div class="col-sm-12 col-lg-12">
                                <h4 class="title">{{ 'rent-reservation--> Register '|_ }}</h4>
                                <div class="form-group col-sm-6">
                                    <label>{{ 'rent-reservation--> Full name'|_ }}</label>
                                    <input type="text" id="name" class="form-control" name="name">
                                </div>

                                <div class="form-group  col-lg-6">
                                    <label>{{ 'rent-reservation--> Mobile Phone'|_ }}</label>
                                    <input id="username" name="username" onkeypress="return AllowNumbersOnly(event)"  type="text"
                                           class="form-control text-capitalize"
                                           placeholder="Mobile">
                                    <p class="error-p visible" data-validate-for="mobile"></p>
                                    <input type="hidden" name="mobile" id="mobile">
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>{{ 'rent-reservation--> Password'|_ }}</label>
                                    <input name="password" type="password" id="password" class="form-control">
                                    <p class="error-p visible" data-validate-for="password"></p>
                                </div>
                                <div class="form-group   col-lg-6">
                                    <label>{{ 'rent-reservation--> Repeat password'|_ }}</label>
                                    <input name="password_confirmation" id="password_confirmation" type="password"
                                           class="form-control">
                                    <p class="error-p visible" data-validate-for="password_confirmation"></p>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label>{{ 'rent-reservation--> Address'|_ }}</label>
                                    <textarea name="address" class="form-control" id="street_addr"
                                              placeholder="{{ 'rent-reservation--> Please write address'|_ }}">{{ user.street_addr }}{{ user.city }}</textarea>

                                </div>
                            </div>
                            <input type="hidden" name="phone" id="phone">
                        {% endif %}
                        <div class="col-sm-12 col-lg-12">
                            <hr class="separator">
                        </div>
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group col-sm-12 col-lg-12">
                                <label>{{ 'rent-reservation--> Additional notes and comments'|_ }}</label>
                                <textarea name="remarks" class="form-control"
                                          placeholder="{{ 'rent-reservation--> Please write down all your questions or concerns and we’ll get back with an answer at the earliest convenience'|_ }}"></textarea>
                            </div>
                        </div>
                    </div>
                    <div style="display: inline-block; float: right; margin-bottom: 32px;">
                        <button type="button" class="reserveBtn btn btn-default">{{ 'rent-reservation--> Reserve'|_ }}</button>
                    </div>
                </form>
            </div>
        </div>

    </div>


</main>
<!-- /.Reservation car modal -->
{% put scripts %}
    <script>

        $(function () {
            $(document).on('click', '.reserveBtn', function (e) {
                $.oc.stripeLoadIndicator.show()
                {% if user %}

                $('form').request('onSave', {

                    complete: function () {
                        window.location.href = "{{ 'profile-my-order'|page }}";
                    }


                });
                {% else %}

                var username = $('#username').val(),
                    name = $('#name').val(),
                    mobile = username,
                    street_addr = $('#street_addr').val(),
                    pasword = $('#password').val(),
                    password_confirmation = $('#password_confirmation').val();
                $('#phone').val(username);

                $.request('onRegister', {
                    data: {
                        username: username,
                        name: name,
                        mobile: mobile,
                        street_addr: street_addr,
                        password: pasword,
                        password_confirmation: password_confirmation
                    },

                    complete: function () {

                        $('form').request('onSave', {

                            complete: function () {
                                window.location.href = "{{ 'profile-my-order'|page }}";
                            }


                        });
                    }


                });

                {% endif %}



            });
        })
    </script>



    <script>
        function AllowNumbersOnly(e) {
            var charCode = (e.which) ? e.which : e.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                e.preventDefault();
            }
        }
    </script>

{% endput %}