<footer class="bg-inverse">
    <div class="container">
        <div class="row">

            <div class="col-sm-6 col-lg-3">
                <div class="footer-widget">

                    <h4 class="heading">{{ 'footer--> About us'|_ }}</h4>
                    <p>
                       {{ 'footer-->  Car Dojo User Interface is the ultimate resource for car industry related websites.'|_ }}
                    </p>


                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="footer-widget">
                    <h4 class="heading">{{ 'footer--> Subscribe to car deals'|_ }}</h4>
                    <p>{{ 'footer--> Be among the first ones to find out about our rentable deals.'|_ }}</p>
                    <form class="subscribe-form" name="form-subscribe-andradedev" id="form-subscribe-andradedev"
                          class="subscribeForm"
                          data-request="{{ formSubscribe }}::onAddSubscriber"
                          data-request-update="'{{ formSubscribe }}::alert': '#result'"
                          data-request-success="$('.successModals').fadeIn()" data-request-validate
                          data-request-flash>
                        <div class="form-group">
                            <label>{{ 'footer--> E-mail address'|_ }}</label>
                            <input type="email" name="email" class="form-control" placeholder="youremail@address.com">
                            <p class="error-p" data-validate-for="email"></p>
                        </div>
                        <button class="btn btn-default" type="submit">{{ 'footer--> Subscribe now'|_ }} <i class="fa fa-angle-right"></i>
                        </button>
                    </form>

                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="footer-widget">
                    <h4 class="heading">{{ 'footer--> Contact'|_ }}</h4>
                    <address>
                        {{ this.theme.address }}
                    </address>
                    <ul class="list-unstyled phone-nrs">
                        <li>
                            <span class="pull-left">{{ 'footer--> Mobile'|_ }}</span>
                            <a href="callto:{{ this.theme.telephone }}" class="pull-right">  {{ this.theme.telephone }}</a>
                        </li>
                        <li class="clearfix"></li>
                        <li>
                            <span class="pull-left">{{ 'footer--> Office'|_ }}</span>
                            <a href="callto:{{ this.theme.office_number }}" class="pull-right">  {{ this.theme.office_number }}</a>
                        </li>
                        <li class="clearfix"></li>
                    </ul>
                    <h4 class="heading">{{ 'footer--> Social media links'|_ }}</h4>
                    <ul class="list-inline socials">
                        {% if this.theme.facebook %}
                            <li>
                                <a href="{{ this.theme.facebook }}" target="_blank">

                                    <i class="fa fa-facebook-f"></i>

                                </a>
                            </li>
                        {% endif %}

                        {% if this.theme.twitter %}
                            <li>
                                <a href="{{ this.theme.twitter }}" target="_blank">

                                    <i class="fa fa-twitter"></i>

                                </a>
                            </li>
                        {% endif %}

                        {% if this.theme.instagram %}
                            <li>
                                <a href="{{ this.theme.instagram }}" target="_blank">

                                    <i class="fa fa-instagram"></i>

                                </a>
                            </li>
                        {% endif %}

                        {% if this.theme.youtube %}
                            <li>
                                <a href="{{ this.theme.youtube }}" target="_blank">

                                    <i class="fa fa-youtube"></i>

                                </a>
                            </li>
                        {% endif %}

                        {% if this.theme.googleplus %}
                            <li>
                                <a href="{{ this.theme.googleplus }}" target="_blank">

                                    <i class="fa fa-google-plus"></i>

                                </a>
                            </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="footer-widget">
                    <h4 class="heading">{{ 'footer--> Useful links'|_ }}</h4>
                    <ul class="list-unstyled">
                        {% partial "layout/footerNav" items=footer.menuItems %}
                    </ul>
                </div>
            </div>

        </div>
    </div>

</footer>
