<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Car Submit | Car Dojo</title>

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/favicons/apple-touch-icon.png'|theme }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/favicons/favicon-32x32.png'|theme }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/favicons/favicon-16x16.png'|theme }}">
<link rel="manifest" href="{{ 'assets/favicons/manifest.json'|theme }}">
<link rel="mask-icon" href="{{ 'assets/favicons/safari-pinned-tab.svg'|theme }}" color="#438cca">
<meta name="theme-color" content="#ffffff">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900%7CNunito:400,700" rel="stylesheet">
<!-- plugins -->
<link href="{{ 'assets/css/plugins.css'|theme }}" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
<!-- main styles -->
<link href="{{ 'assets/css/main.css'|theme }}" rel="stylesheet">
<!-- responsive styles -->
<link href="{{ 'assets/css/responsive.css'|theme }}" rel="stylesheet">
<!-- you own styles -->
<link href="{{ 'assets/css/custom.css'|theme }}" rel="stylesheet">
{% styles %}


<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
